@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

/* @tailwind base;
@tailwind components; */

@tailwind utilities;

:root {
  /* Light theme variables */
  /* old styling */
  /* --color-base: #ffffff;
  --color-primary-btn: #4a90e2;
  --color-secondary-btn: #f5f7fa;
  --color-primary-text: #2c3e50;
  --color-secondary-text: #7f8c8d;
  --color-border: #e2e8f0;
  --color-hover: #fcfcf8; */

  /* new styling */
  --color-base: #ffffff;
  --color-secondary-base: #ffffff;
  --color-primary-btn: #ff6380;
  --color-secondary-btn: #ffafcc;
  --color-primary-text: #000000;
  --color-secondary-text: #f8f7f6;
  --color-hovers-text: #f40480;
  --color-border: #94969b39;
  --color-hover: #f40480;
  --color-neon-text: #ff70a6;
  --color-neon-glow: #fbfbfb;
  --color-folders: #ff679e;
  --color-folders-hover: #ffafcc;
}

:root.dark {
  /* Dark theme variables */
  /* old styling */
  /* --color-base: #1a1f36;
  --color-primary-btn: #4a90e2;
  --color-secondary-btn: #2d3748;
  --color-primary-text: #e2e8f0;
  --color-secondary-text: #a0aec0;
  --color-border: #2d3748;
  --color-hover: #2a3441; */

  /* new styling */
  --color-base: #343434;
  --color-secondary-base: rgba(95, 89, 128, 0.444);
  --color-primary-btn: #305e93;
  --color-secondary-btn: #404d64;
  --color-primary-text: #e2e8f0;
  --color-secondary-text: #aa9bff;
  --color-hovers-text: #8e6ff3;
  --color-border: #94969b39;
  --color-hover: #0564e1;
  --color-neon-text: #d6d6d6;
  --color-neon-glow: #cd17ff;
  --color-folders: #305e93;
  --color-folders-hover: #404d64;
}

/* Maintain popup dimensions */
html, body, #root {
  width: 450px;
  height: 500px;
  overflow: hidden;
}

/* Apply theme colors */
body {
  background-color: var(--color-base);
  color: var(--color-primary-text);
}

/* Apply theme colors to common elements */
.bg-base {
  background-color: var(--color-base) !important;
}

.text-primary {
  color: var(--color-primary-text) !important;
}

.text-hovers {
  color: var(--color-hovers-text) !important;
}

.folders {
  background-color: var(--color-folders) !important;
}
.folders:hover {
  background-color: var(--color-folders-hover) !important;
}
.border-color {
  border-color: var(--color-border) !important;
}

.hover-color{
  background-color: var(--color-hover) !important;
}

.text-secondary {
  color: var(--color-secondary-text) !important;
}

.bg-secondary-base {
  background-color: var(--color-secondary-base) !important;
}


button.primary {
  background-color: var(--color-primary-btn);
  color: var(--color-primary-text);
  
}

button.primary:hover {
  background-color: var(--color-hover);
  color: var(--color-primary-text);
  
}

button.secondary {
  background-color: var(--color-secondary-btn);
  color: var(--color-primary-text);
}

button.secondary:hover {
  background-color: var(--color-hover);
  color: var(--color-primary-text);
}

/* .neon-text {
  color: var(--color-neon-text);
  text-shadow: 0 0 5px var(--color-neon-text), 
               0 0 10px var(--color-neon-text), 
               0 0 15px var(--color-neon-glow);
  font-weight: bold;
  
} */

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.title h1 {
  font-size: 25vmin;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary-text);
}

.ghost {
  width: 8vmin;
  height: 12vmin;
  background-color: var(--color-base);
  background-image: radial-gradient(ellipse at 35% 40%, var(--color-primary-text) 8%, transparent 0%),
    radial-gradient(ellipse at 65% 40%, var(--color-primary-text) 8%, transparent 0%),
    radial-gradient(ellipse at 50% 60%, var(--color-primary-text) 8%, transparent 0%);
  border-radius: 100% / 70% 70% 0% 0%;
  transform: translateX(100em) rotateZ(-90deg);
  position: relative;
  opacity: 0.9;
  mix-blend-mode: exclusion;
  animation: ghostMove 4s ease-out infinite;
}

@keyframes ghostMove {
  0% {
    transform: translateX(30em) rotateZ(-90deg);
  }
  100% {
    transform: translateX(-35em) rotateZ(-90deg);
  }
}

.ghost div {
  position: absolute;
  width: 20%;
  background-color: var(--color-base);
}

.ghost div:nth-of-type(1) {
  height: 7vmin;
  left: 0;
  bottom: -6vmin;
  border-radius: 100% / 0% 0% 50% 50%;
}

.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
  height: 4vmin;
  left: 20%;
  bottom: -3vmin;
  border-radius: 100% / 50% 50% 0% 0%;
  background-color: transparent;
}

.ghost div:nth-of-type(3) {
  height: 4vmin;
  left: 40%;
  bottom: -3.95vmin;
  border-radius: 100% / 0% 0% 60% 60%;
  background-color: var(--color-base);
}

.ghost div:nth-of-type(4) {
  left: 60%;
}

.ghost div:nth-of-type(5) {
  height: 3vmin;
  left: 80%;
  bottom: -2.9vmin;
  border-radius: 100% / 0% 0% 70% 70%;
  background-color: var(--color-base);
}