@tailwind base;
@tailwind components;
@tailwind utilities;

/* Maintain popup dimensions */
html, body, #root {
  width: 450px; /* Or your desired width */
  height: 500px; /* Or your desired height */
  overflow: hidden; /* Prevent scrollbars on body */
}
